a {
  display: flex;
  padding: 0 28px;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
  text-decoration: none;
}
a:hover > * {
  color: #ff5722;
}

.language {
  display: flex;
  align-items: center;
  gap: 12rem;
  weight: bold;
  font-size: 0.8rem;
  padding: 0 30px;
  margin-top: 15px;
  color: #000;
}
